[Unit]
Description=aj_studying
After=network.target

[Service]
Type=simple
User=ripley
WorkingDirectory=/home/ripley/app
ExecStart=/home/ripley/app/aj_studying
Restart=on-failure

[Install]
WantedBy=multi-user.target
