{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
{% endblock %}

{% block individual_page_contents %}
<section id="doctor">
  
  <aside id="doctor__head">
    <div class="head_and_data">
      <img src="images/physician_headshot" alt="doctor's headshot" height="200px" width="200px"/>
      <div class="head_and_data__data">
	<h2>{{ name }}</h2>
	<p>{{ speciality }}</p>
	<p>{{ email }}</p>
	<p>{{ phone }}</p>
	<p>{{ address }}</p>
      </div>
    </div>
    
    <div class="head_and_data">
      <img src="/images/aj_headshot" alt="childs headshot" height="200px" width="200px"/>
      <div class="head_and_data__data">
	<h2>Child Name</h2>
	<p>Child yrs. old</p>
      </div>
    </div>
    
  </aside>
  
  <aside id="doctor__body">
    <h2>DETAILS</h2>
    <div id="doctor__body__cards">
      {% for card in card_data %}
      <div class="doc_card">
	<a
	  hx-get="/doctor_card/{{ card.db_id }}"
	  hx-target="#doctor__body__cards"
	  hx-swap="innerHTML"
	  hx-push-url="true"
	   >
	  <h4>{{ card.date }}</h4>
	</a>
      </div>
      {% endfor %}
    </div>
  </aside>
</section>


{% call super() %} {% endblock %}
