{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
{% endblock %}

{% block individual_page_contents %}
<section id="card_container">
  <div id="card_container__english" class="education_card">
    <h1>ENGLISH</h1>
    <button id="card_container__english__button">ENGLISH</button>
  </div>
  <div id="card_container__science" class="education_card">
    <h1>SCIENCE</h1>
    <button id="card_container__science__button">SCIENCE</button>
  </div>

</section>

{% call super() %} {% endblock %}
