{% extends "base.html" %}
{% block title %} {{ title }} {% endblock %}
{% block head %}
{% endblock %}

{% block individual_page_contents %}
<section class="login">
  <div class="login__container" >
    <h2>Log in</h2>
    <form hx-ext="response-targets">
      <input type="text" name="email" value="test_3@email.com" required>
      <input type="password" name="password" value="123456" placeholder="Password" required>
      <button
	type="submit"
	hx-post="/login"
	hx-target="#template_pages"
	hx-target-error="#error_block"
	>Log in</button>
    </form>
    <p>Don't have an account? <a href="/registration">Register</a></p>
  </div>
</section>
{% call super() %} {% endblock %}
