$error_red: hsl(0, 100%, 50%); // red


#error_block {
    position: relative;
    z-index: 100;
    grid-area: header;
    width: 200px;
    height: 80px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: black;
    background-color: $error_red;

    .error {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: black;
	
	&__information {
	    font-size: 1em;
	    margin: 1em;
	    color: black;
	}

	@keyframes error {
	    0% {
		transform: scale(0.5);
	    }
	    100% {
		transform: scale(1);
	    }
	}
    }
}
