$inner_background: hsl(0, 0%, 100%);
$card_background: hsl(206, 30%, 40%);

@import 'login';
// @import 'errors';
@import 'main';

body {
    background-color: coral;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas: 
	"header-left header header-right"
	"main-left main main-right"
	"footer-left footer footer-right";
    justify-items: center;
    align-items: center;
    margin: 0;
    padding: 0;

}


